<h1>About Me</h1>

<p>
My name is Simthandile Alicia Hulana.

I am currently studying ICT Business Analysis at Durban University of Technology.

My interests include:

• Business Analysis

• Software Development

• Python

• C#

• Cybersecurity

• Data Analysis
</p>
<section class="certifications">

    <h2>Certifications</h2>

    <div class="card">
        <h3>Cisco Fundamentals of Computer Security</h3>
        <p>Completed Cisco networking and cybersecurity fundamentals training.</p>
    </div>

    <div class="card">
        <h3>Additional Certifications</h3>
        <p> Completed Introduction to Cybersecurity course.</p>
    </div>

</section>