<h1>Contact Me</h1>
<p><strong>Name:</strong> Simthandile Alicia Hulana</p>
<p><strong>Email:</strong> simthandilehulana@icloud.com</p>
<p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/simthandile-hulana-5465b6418" target="_blank">LinkedIn Profile</a></p>
<p><strong>GitHub:</strong> <a href="https://github.com/Alicia-Hatta" target="_blank">GitHub Profile</a></p>
<p><strong>TikTok:</strong> <a href="https://www.tiktok.com/@smiley_hulana" target="_blank">TikTok Profile</a></p>
<p><strong>Instagram:</strong> <a href="https://www.instagram.com/smiley_hulana/" target="_blank">Instagram Profile</a></p>