<body>

<header>
    <h1>Simthandile Alicia Hulana</h1>
    <p>ICT Business Analysis Student | Future Business Analyst</p>
</header>

<nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
</nav>

<section class="hero"> 
    <img src="{{ url_for('static', filename='image/profile.jpeg') }}" alt="Profile Picture" class="profile-img">
    <div>
        <h2>Hello, I'm Simthandile!</h2>

        <p>
            I am an ICT Business Analysis student at Durban University of Technology,
            passionate about Business Analysis, Software Development,
            Python, C#, and Cybersecurity.
        </p>
        <a class="btn" href="/projects">View My Projects</a>
    </div>
</section>

<footer>
    <p>© 2026 Simthandile Alicia Hulana</p>
</footer>
<section class="skills">

    <h2>My Skills</h2>

    <ul>
        <li>Business Analysis</li>
        <li>Python Programming</li>
        <li>C# Programming</li>
        <li>HTML & CSS</li>
        <li>Flask</li>
        <li>Cybersecurity</li>
    </ul>

</section>
<a href="{{ url_for('static', filename='files/CV(1).DOCX') }}"
class="btn"
download=>
    Download CV
</a>
<section class="progress-section">

    <h2>Professional Skills</h2>

    <div class="skill">
        <p>Python</p>
        <div class="bar">
            <div class="python"></div>
        </div>
    </div>

    <div class="skill">
        <p>C#</p>
        <div class="bar">
            <div class="csharp"></div>
        </div>
    </div>

    <div class="skill">
        <p>Business Analysis</p>
        <div class="bar">
            <div class="ba"></div>
        </div>
    </div>

</section>



            
        